<a href="/FAQ">
  <div style="position: fixed; bottom: 20px; right: 20px; z-index: 50;">
    <button class="bg-blue-500 text-white rounded-full w-12 h-12 flex items-center justify-center shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" style="transition: background-color 0.3s ease-in-out;">
      ?
    </button>
  </div>
</a>

<style>
  .bg-blue-500:hover {
    background-color: #34373b;
    color: #fff;
    transform: scale(1.1);
  }
</style>


<aside
  id="logo-sidebar"
  class="fixed top-0 right-0 z-40 w-1/5"
  aria-label="Sidebar"
>
  <div class="h-screen px-3 py-4 overflow-y-auto bg-white">
    <ul>
      <li>
        <div class="flex items-center ml-8 mt-5">
          <img
            src="https://www.elmueble.com/medio/2023/05/25/cachorros-de-labrador_1581ee18_230525142522_1000x667.jpg"
            alt="Foto de perfil"
            class="w-12 h-12 rounded-full"
          />
          <div class="ml-4 mt-2">
            <span class="block font-semibold">Andrea Medina Rico</span>
            <span class="text-sm">Owner</span>
          </div>
        </div>
      </li>
      <li>
        <a
          href="/historial"
          class="ml-8 mt-5 inline-block px-4 py-1 text-xs font-medium leading-6 text-center text-purple-700 border border-purple-700 transition bg-white rounded shadow ripple hover:shadow-lg hover:bg-purple-700 hover:text-white focus:outline-none"
        >
          Crear Lead
        </a>
      </li>
    </ul>
  </div>
</aside>
