<% if (success != '') { %>
  <div id="alert-success" class="flex relative items-center p-4 mb-4 text-sm mr-24 text-green-800 border border-green-300 rounded-lg bg-green-50" role="alert" style="display: none; max-width: 75em">
    <button type="button" class="absolute top-2 right-2 text-gray-400 hover:text-gray-900" onclick="cerrarAlert()">
      <svg class="w-6 h-6" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.293 5.293a1 1 0 011.414 0L10 8.586l3.293-3.293a1 1 0 111.414 1.414L11.414 10l3.293 3.293a1 1 0 01-1.414 1.414L10 11.414l-3.293 3.293a1 1 0 01-1.414-1.414L8.586 10 5.293 6.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
      </svg>
    </button>
    <div>
      <span class="font-bold"> ¡Acción exitosa! </span> 
      <span id="success-message"></span>
    </div>
  </div>

  <script>      
    const success = '<%= success %>';
    if (success) {
      document.getElementById('alert-success').style.display = 'block';
      document.getElementById('success-message').innerHTML = success;
    }

    function cerrarAlert() {
      const successAlert = document.getElementById('alert-success');
      successAlert.parentNode.removeChild(successAlert);
    }

  </script>
<% } %>