<!DOCTYPE html>
<head>
  <title>Directorio</title>
  <link rel="stylesheet" href="/css/output.css" />
</head>
<body>
  <nav><%- include('partials/sidebar.ejs') %></nav>
  <%- include('partials/aside.ejs') %> <%-include('partials/background')%>
  <div class="ml-14 mt-14">
    <h1 class="mb-16 text-4xl text-gray-900">HI xxxxxx@xxxx</h1>
    <div class="w-full sm:w-64 bg-[#E1E7FD] mr-4 rounded-md p-4">
      <h2 class="mb-4 font-bold">Reporte</h2>
      <div class="flex justify-between items-center mb-2">
        <label for="whatsapp" class="ml-2">Whatsapp</label>
        <input type="checkbox" id="whatsapp" name="whatsapp" value="whatsapp">
      </div>
      <div class="flex justify-between items-center mb-2">
        <label for="facebook" class="ml-2">Facebook</label>
        <input type="checkbox" id="facebook" name="facebook" value="facebook">
      </div>
      <div class="flex justify-between items-center mb-2">
        <label for="instagram" class="ml-2">Instagram</label>
        <input type="checkbox" id="instagram" name="instagram" value="instagram">
      </div>
      <button class="ml-auto mr-8 mt-5 inline-block px-2 py-1 text-xs font-medium leading-6 text-center text-purple-700 border border-purple-700 transition bg-white rounded shadow ripple hover:shadow-lg hover:bg-purple-700 hover:text-white focus:outline-none">Generar Reporte</button>
    </div>

    <div class=" h-52 sm:w-64 border-dashed border-2 border-purple-400 rounded-md p-4 flex items-center justify-center mt-4" style="width: 16rem">
      <span>Importar Lead</span>
    </div>
  </div>
</body>