<!DOCTYPE html>
<head>
  <title>FAQ</title>
  <link rel="stylesheet" href="/css/output.css" />
</head>
<body style="background-color: #d2d9ea;">

  <a href="/">
    <div style="position: fixed; top: 20px; left: 20px; z-index: 50;">
      <button class="bg-blue-500 text-white rounded-full w-12 h-12 flex items-center justify-center shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" style="transition: background-color 0.3s ease-in-out;">
        x
      </button>
    </div>
  </a>

  <div style="padding: 2em;">
    <section class="text-black-100 py-32 min-h-screen">
    <div class="container flex flex-col justify-center p-4 mx-auto md:p-8">

      <h1 class="mb-6 text-2xl font-semibold leading-none tracking-tight text-blue-600 md:text-3xl lg:text-3xl">
        Preguntas
        <span class="text-blue-500">
          frecuentes
        </span>
      </h1>
      <div class="flex flex-col divide-y-2 sm:px-8 lg:px-12 xl:px-32 divide-blue-600" style="padding-left: 2em; padding-top: 0.5em;">
        <details>
          <summary class="py-2 outline-none cursor-pointer focus:underline">
            ¿Qué puedo encontrar en la vista de
            <span class="text-blue-600">
              Historial?
            </span>
          </summary>
          <div class="px-4 pb-4 text-left">
            <p>
              El directorio es un registro de los reportes que has generado. Puedes ver información general 
              de cada reporte y descargarlos.
            </p>
          </div>
        </details>
        <details>
          <summary class="py-2 outline-none cursor-pointer focus:underline">
            ¿Qué quiere decir que mi archivo .csv es incorrecto al importar leads?
          </summary>
          <div class="px-4 pb-4">
            <p>
              El archivo .csv que intentaste subir no cumple con los campos de información de un lead. Verifica que tu archivo sea correcto
              e intenta de nuevo.
            </p>
          </div>
        </details>
        <details>
          <summary class="py-2 outline-none cursor-pointer focus:underline">
            ¿Qué pasa con los usuarios cuyo rol ha sido eliminado?
          </summary>
          <div class="px-4 pb-4 text-left">
            <p>
              Automáticamente, su rol pasa a ser el de un "Seller" y, por ello, tienen los permisos de este.
            </p>
          </div>
        </details>
        
      </div>
    </div>
  </section>
  </div>
</body>