  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Directorio</title>
  <link rel="stylesheet" href="/css/output.css"/>

  <style> 

    body {
      background-color: #E4E8EE;
    }

    #container {
      position: relative;
      height:500px;
      box-shadow: 1px 4px 8px rgba(36, 37, 42, 0.2);
    }
    #containerElements {
      overflow-y: auto; 
      height:100%;
    }
    #element {
      position: relative;
    }
    #main-content {
      transition: padding-left 0.3s ease;
      padding-left: 3.5rem;
    } 
    .side:hover ~ #main-content {
      padding-left: 10rem;
    }

  </style>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/TC2005B-Leadsales/util/reporte.js"></script>
</head>
<body>
    <%- include('partials/sidebar.ejs') %> 

    <div id="main-content" class="w-full ml-14 mt-12 pl-20 display:flex">
        <h1 class="mb-8 text-4xl text-gray-900">Hi</h1>

        <canvas id="chartOne" width="400" height="200"></canvas>

    </div>
</body>

<script defer>
</script>

</html>