<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/output.css">
    <title>Help</title>
</head>
<body>
    <nav><%- include('partials/sidebar.ejs') %></nav>
    <%- include('partials/aside.ejs') %> <%-include('partials/background')%>
    <div class="p-4 sm:ml-64">
      <header>
        <h1
          class="mb-4 text-4xl font-bold text-gray-900"
        >
          Ayuda
        </h1>
      </header>
    </div>
  </body>