<!DOCTYPE html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body>
    <%- include('partials/sidenav.ejs') %>
    <header>
        <h1 class="text-teal-400">Home</h1>
    </header>
</body>