<!DOCTYPE html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/output.css" />
</head>
<body>
  <nav><%- include('partials/sidebar.ejs') %></nav>
  <%- include('partials/aside.ejs') %> <%-include('partials/background')%>
  <div class="ml-14 mt-14">
    <h1 class="mb-4 text-4xl text-gray-900">HI xxxxxx@xxxx</h1>
  </div>
</body>
