<!DOCTYPE html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/output.css">
</head>

<body>
    <h1>Home</h1>
    <p class = "bg-slate-500 text-red-600">Welcome to the home page</p>
</body>