<!DOCTYPE html>
<head>
  <title>Ajustes</title>
  <link rel="stylesheet" href="/css/output.css" />
</head>
<body>
    <nav><%- include('partials/sidebar.ejs') %></nav>
    <%- include('partials/aside.ejs') %> <%-include('partials/background')%>
    <div class="p-4 sm:ml-64">
      <header>
        <h1
          class="mb-4 text-4xl font-bold text-gray-900"
        >
          Ajustes
        </h1>
      </header>
    </div>
  </body>